serviceTest/MQTTClient/Connected Services/brokerService/brokerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrokerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBrokerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBrokerService_MQTTCreateClientAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:MQTTCreateClientAsync" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_MQTTCreateClientAsync_OutputMessage">
    <wsdl:part name="parameters" element="tns:MQTTCreateClientAsyncResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_MQTTConnectClientAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:MQTTConnectClientAsync" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_MQTTConnectClientAsync_OutputMessage">
    <wsdl:part name="parameters" element="tns:MQTTConnectClientAsyncResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_MQTTSubscribeTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:MQTTSubscribeTopic" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_MQTTSubscribeTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:MQTTSubscribeTopicResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_MQTTUnsubscribeTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:MQTTUnsubscribeTopic" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_MQTTUnsubscribeTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:MQTTUnsubscribeTopicResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_MQTTPublishTopicAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:MQTTPublishTopicAsync" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_MQTTPublishTopicAsync_OutputMessage">
    <wsdl:part name="parameters" element="tns:MQTTPublishTopicAsyncResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_OPCCreateClient_InputMessage">
    <wsdl:part name="parameters" element="tns:OPCCreateClient" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_OPCCreateClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:OPCCreateClientResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_OPCConnectClient_InputMessage">
    <wsdl:part name="parameters" element="tns:OPCConnectClient" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_OPCConnectClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:OPCConnectClientResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_OPCSubscribeTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:OPCSubscribeTopic" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_OPCSubscribeTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:OPCSubscribeTopicResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_OPCUnsubscribeTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:OPCUnsubscribeTopic" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_OPCUnsubscribeTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:OPCUnsubscribeTopicResponse" />
  </wsdl:message>
  <wsdl:portType name="IBrokerService">
    <wsdl:operation name="MQTTCreateClientAsync">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/MQTTCreateClientAsync" message="tns:IBrokerService_MQTTCreateClientAsync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/MQTTCreateClientAsyncResponse" message="tns:IBrokerService_MQTTCreateClientAsync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MQTTConnectClientAsync">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/MQTTConnectClientAsync" message="tns:IBrokerService_MQTTConnectClientAsync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/MQTTConnectClientAsyncResponse" message="tns:IBrokerService_MQTTConnectClientAsync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MQTTSubscribeTopic">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/MQTTSubscribeTopic" message="tns:IBrokerService_MQTTSubscribeTopic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/MQTTSubscribeTopicResponse" message="tns:IBrokerService_MQTTSubscribeTopic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MQTTUnsubscribeTopic">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/MQTTUnsubscribeTopic" message="tns:IBrokerService_MQTTUnsubscribeTopic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/MQTTUnsubscribeTopicResponse" message="tns:IBrokerService_MQTTUnsubscribeTopic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MQTTPublishTopicAsync">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/MQTTPublishTopicAsync" message="tns:IBrokerService_MQTTPublishTopicAsync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/MQTTPublishTopicAsyncResponse" message="tns:IBrokerService_MQTTPublishTopicAsync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OPCCreateClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/OPCCreateClient" message="tns:IBrokerService_OPCCreateClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/OPCCreateClientResponse" message="tns:IBrokerService_OPCCreateClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OPCConnectClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/OPCConnectClient" message="tns:IBrokerService_OPCConnectClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/OPCConnectClientResponse" message="tns:IBrokerService_OPCConnectClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OPCSubscribeTopic">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/OPCSubscribeTopic" message="tns:IBrokerService_OPCSubscribeTopic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/OPCSubscribeTopicResponse" message="tns:IBrokerService_OPCSubscribeTopic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OPCUnsubscribeTopic">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/OPCUnsubscribeTopic" message="tns:IBrokerService_OPCUnsubscribeTopic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/OPCUnsubscribeTopicResponse" message="tns:IBrokerService_OPCUnsubscribeTopic_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBrokerService" type="tns:IBrokerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MQTTCreateClientAsync">
      <soap:operation soapAction="http://tempuri.org/IBrokerService/MQTTCreateClientAsync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MQTTConnectClientAsync">
      <soap:operation soapAction="http://tempuri.org/IBrokerService/MQTTConnectClientAsync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MQTTSubscribeTopic">
      <soap:operation soapAction="http://tempuri.org/IBrokerService/MQTTSubscribeTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MQTTUnsubscribeTopic">
      <soap:operation soapAction="http://tempuri.org/IBrokerService/MQTTUnsubscribeTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MQTTPublishTopicAsync">
      <soap:operation soapAction="http://tempuri.org/IBrokerService/MQTTPublishTopicAsync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OPCCreateClient">
      <soap:operation soapAction="http://tempuri.org/IBrokerService/OPCCreateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OPCConnectClient">
      <soap:operation soapAction="http://tempuri.org/IBrokerService/OPCConnectClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OPCSubscribeTopic">
      <soap:operation soapAction="http://tempuri.org/IBrokerService/OPCSubscribeTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OPCUnsubscribeTopic">
      <soap:operation soapAction="http://tempuri.org/IBrokerService/OPCUnsubscribeTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IBrokerService" type="tns:IBrokerService">
    <wsp:PolicyReference URI="#NetTcpBinding_IBrokerService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="MQTTCreateClientAsync">
      <soap12:operation soapAction="http://tempuri.org/IBrokerService/MQTTCreateClientAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MQTTConnectClientAsync">
      <soap12:operation soapAction="http://tempuri.org/IBrokerService/MQTTConnectClientAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MQTTSubscribeTopic">
      <soap12:operation soapAction="http://tempuri.org/IBrokerService/MQTTSubscribeTopic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MQTTUnsubscribeTopic">
      <soap12:operation soapAction="http://tempuri.org/IBrokerService/MQTTUnsubscribeTopic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MQTTPublishTopicAsync">
      <soap12:operation soapAction="http://tempuri.org/IBrokerService/MQTTPublishTopicAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OPCCreateClient">
      <soap12:operation soapAction="http://tempuri.org/IBrokerService/OPCCreateClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OPCConnectClient">
      <soap12:operation soapAction="http://tempuri.org/IBrokerService/OPCConnectClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OPCSubscribeTopic">
      <soap12:operation soapAction="http://tempuri.org/IBrokerService/OPCSubscribeTopic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OPCUnsubscribeTopic">
      <soap12:operation soapAction="http://tempuri.org/IBrokerService/OPCUnsubscribeTopic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrokerService">
    <wsdl:port name="BasicHttpBinding_IBrokerService" binding="tns:BasicHttpBinding_IBrokerService">
      <soap:address location="http://localhost:8080/brokerService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IBrokerService" binding="tns:NetTcpBinding_IBrokerService">
      <soap12:address location="net.tcp://localhost:8090/brokerService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/brokerService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-41A3VPF</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>