serviceTest/MQTTClient/Connected Services/brokerService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://opcfoundation.org/UA/2008/02/Types.xsd" elementFormDefault="qualified" targetNamespace="http://opcfoundation.org/UA/2008/02/Types.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EndpointDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndpointUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Server" nillable="true" type="tns:ApplicationDescription" />
      <xs:element minOccurs="0" name="ServerCertificate" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SecurityMode" type="tns:MessageSecurityMode" />
      <xs:element minOccurs="0" name="SecurityPolicyUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserIdentityTokens" nillable="true" type="tns:ListOfUserTokenPolicy" />
      <xs:element minOccurs="0" name="TransportProfileUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityLevel" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EndpointDescription" nillable="true" type="tns:EndpointDescription" />
  <xs:complexType name="ApplicationDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="tns:LocalizedText" />
      <xs:element minOccurs="0" name="ApplicationType" type="tns:ApplicationType" />
      <xs:element minOccurs="0" name="GatewayServerUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscoveryProfileUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscoveryUrls" nillable="true" type="tns:ListOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationDescription" nillable="true" type="tns:ApplicationDescription" />
  <xs:complexType name="LocalizedText">
    <xs:sequence>
      <xs:element minOccurs="0" name="Locale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalizedText" nillable="true" type="tns:LocalizedText" />
  <xs:simpleType name="ApplicationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Server_0" />
      <xs:enumeration value="Client_1" />
      <xs:enumeration value="ClientAndServer_2" />
      <xs:enumeration value="DiscoveryServer_3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ApplicationType" nillable="true" type="tns:ApplicationType" />
  <xs:complexType name="ListOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="String" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfString" nillable="true" type="tns:ListOfString" />
  <xs:simpleType name="MessageSecurityMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Invalid_0" />
      <xs:enumeration value="None_1" />
      <xs:enumeration value="Sign_2" />
      <xs:enumeration value="SignAndEncrypt_3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageSecurityMode" nillable="true" type="tns:MessageSecurityMode" />
  <xs:complexType name="ListOfUserTokenPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTokenPolicy" nillable="true" type="tns:UserTokenPolicy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUserTokenPolicy" nillable="true" type="tns:ListOfUserTokenPolicy" />
  <xs:complexType name="UserTokenPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" name="PolicyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenType" type="tns:UserTokenType" />
      <xs:element minOccurs="0" name="IssuedTokenType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuerEndpointUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityPolicyUri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTokenPolicy" nillable="true" type="tns:UserTokenPolicy" />
  <xs:simpleType name="UserTokenType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Anonymous_0" />
      <xs:enumeration value="UserName_1" />
      <xs:enumeration value="Certificate_2" />
      <xs:enumeration value="IssuedToken_3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserTokenType" nillable="true" type="tns:UserTokenType" />
  <xs:complexType name="EndpointConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="OperationTimeout" type="xs:int" />
      <xs:element minOccurs="0" name="UseBinaryEncoding" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxStringLength" type="xs:int" />
      <xs:element minOccurs="0" name="MaxByteStringLength" type="xs:int" />
      <xs:element minOccurs="0" name="MaxArrayLength" type="xs:int" />
      <xs:element minOccurs="0" name="MaxMessageSize" type="xs:int" />
      <xs:element minOccurs="0" name="MaxBufferSize" type="xs:int" />
      <xs:element minOccurs="0" name="ChannelLifetime" type="xs:int" />
      <xs:element minOccurs="0" name="SecurityTokenLifetime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EndpointConfiguration" nillable="true" type="tns:EndpointConfiguration" />
  <xs:complexType name="UserIdentityToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="PolicyId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserIdentityToken" nillable="true" type="tns:UserIdentityToken" />
  <xs:complexType name="Guid">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="String" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Guid" nillable="true" type="tns:Guid" />
  <xs:complexType name="ListOfXmlElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="XmlElement" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfXmlElement" nillable="true" type="tns:ListOfXmlElement" />
  <xs:complexType name="UserNameIdentityToken">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserIdentityToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="EncryptionAlgorithm" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserNameIdentityToken" nillable="true" type="tns:UserNameIdentityToken" />
  <xs:complexType name="X509IdentityToken">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserIdentityToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="CertificateData" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="X509IdentityToken" nillable="true" type="tns:X509IdentityToken" />
  <xs:complexType name="IssuedIdentityToken">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserIdentityToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="TokenData" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="EncryptionAlgorithm" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IssuedIdentityToken" nillable="true" type="tns:IssuedIdentityToken" />
  <xs:complexType name="ListOfEndpointDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EndpointDescription" nillable="true" type="tns:EndpointDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfEndpointDescription" nillable="true" type="tns:ListOfEndpointDescription" />
  <xs:complexType name="ListOfLocalizedText">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalizedText" nillable="true" type="tns:LocalizedText" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfLocalizedText" nillable="true" type="tns:ListOfLocalizedText" />
  <xs:complexType name="Browser">
    <xs:sequence>
      <xs:element minOccurs="0" name="View" nillable="true" type="tns:ViewDescription" />
      <xs:element minOccurs="0" name="MaxReferencesReturned" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="BrowseDirection" type="tns:BrowseDirection" />
      <xs:element minOccurs="0" name="ReferenceTypeId" nillable="true" type="tns:NodeId" />
      <xs:element minOccurs="0" name="IncludeSubtypes" type="xs:boolean" />
      <xs:element minOccurs="0" name="NodeClassMask" type="xs:int" />
      <xs:element minOccurs="0" name="ResultMask" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Browser" nillable="true" type="tns:Browser" />
  <xs:complexType name="ViewDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="ViewId" nillable="true" type="tns:NodeId" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ViewVersion" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewDescription" nillable="true" type="tns:ViewDescription" />
  <xs:complexType name="NodeId">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NodeId" nillable="true" type="tns:NodeId" />
  <xs:simpleType name="BrowseDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Forward_0" />
      <xs:enumeration value="Inverse_1" />
      <xs:enumeration value="Both_2" />
      <xs:enumeration value="Invalid_3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BrowseDirection" nillable="true" type="tns:BrowseDirection" />
</xs:schema>