serviceTest/MQTTClient/Connected Services/brokerService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://opcfoundation.org/UA/SDK/Configuration.xsd" elementFormDefault="qualified" targetNamespace="http://opcfoundation.org/UA/SDK/Configuration.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://opcfoundation.org/UA/2008/02/Types.xsd" />
  <xs:complexType name="ConfiguredEndpoint">
    <xs:sequence>
      <xs:element xmlns:q1="http://opcfoundation.org/UA/2008/02/Types.xsd" name="Endpoint" nillable="true" type="q1:EndpointDescription" />
      <xs:element xmlns:q2="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="Configuration" nillable="true" type="q2:EndpointConfiguration" />
      <xs:element minOccurs="0" name="UpdateBeforeConnect" type="xs:boolean" />
      <xs:element minOccurs="0" name="BinaryEncodingSupport" type="tns:BinaryEncodingSupport" />
      <xs:element minOccurs="0" name="SelectedUserTokenPolicy" type="xs:int" />
      <xs:element xmlns:q3="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="UserIdentity" nillable="true" type="q3:UserIdentityToken" />
      <xs:element minOccurs="0" name="ComIdentity" nillable="true" type="tns:EndpointComIdentity" />
      <xs:element xmlns:q4="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="Extensions" nillable="true" type="q4:ListOfXmlElement">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfiguredEndpoint" nillable="true" type="tns:ConfiguredEndpoint" />
  <xs:simpleType name="BinaryEncodingSupport">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Optional" />
      <xs:enumeration value="Required" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BinaryEncodingSupport" nillable="true" type="tns:BinaryEncodingSupport" />
  <xs:complexType name="EndpointComIdentity">
    <xs:sequence>
      <xs:element xmlns:q5="http://opcfoundation.org/UA/2008/02/Types.xsd" name="Clsid" type="q5:Guid" />
      <xs:element name="ProgId" nillable="true" type="xs:string" />
      <xs:element name="Specification" type="tns:ComSpecification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EndpointComIdentity" nillable="true" type="tns:EndpointComIdentity" />
  <xs:simpleType name="ComSpecification">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DA" />
      <xs:enumeration value="AE" />
      <xs:enumeration value="HDA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ComSpecification" nillable="true" type="tns:ComSpecification" />
  <xs:complexType name="ApplicationConfiguration">
    <xs:sequence>
      <xs:element name="ApplicationName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicationUri" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ProductUri" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://opcfoundation.org/UA/2008/02/Types.xsd" name="ApplicationType" type="q6:ApplicationType" />
      <xs:element minOccurs="0" name="SecurityConfiguration" nillable="true" type="tns:SecurityConfiguration" />
      <xs:element minOccurs="0" name="TransportConfigurations" nillable="true" type="tns:ListOfTransportConfiguration" />
      <xs:element minOccurs="0" name="TransportQuotas" nillable="true" type="tns:TransportQuotas" />
      <xs:element minOccurs="0" name="ServerConfiguration" nillable="true" type="tns:ServerConfiguration">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ClientConfiguration" nillable="true" type="tns:ClientConfiguration">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DiscoveryServerConfiguration" nillable="true" type="tns:DiscoveryServerConfiguration">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q7="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="Extensions" nillable="true" type="q7:ListOfXmlElement">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TraceConfiguration" nillable="true" type="tns:TraceConfiguration">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DisableHiResClock" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationConfiguration" nillable="true" type="tns:ApplicationConfiguration" />
  <xs:complexType name="SecurityConfiguration">
    <xs:sequence>
      <xs:element name="ApplicationCertificate" nillable="true" type="tns:CertificateIdentifier">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TrustedIssuerCertificates" nillable="true" type="tns:CertificateTrustList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TrustedPeerCertificates" nillable="true" type="tns:CertificateTrustList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NonceLength" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RejectedCertificateStore" nillable="true" type="tns:CertificateStoreIdentifier">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AutoAcceptUntrustedCertificates" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UserRoleDirectory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RejectSHA1SignedCertificates" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RejectUnknownRevocationStatus" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MinimumCertificateKeySize" type="xs:unsignedShort">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AddAppCertToTrustedStore" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SendCertificateChain" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UserIssuerCertificates" nillable="true" type="tns:CertificateTrustList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TrustedUserCertificates" nillable="true" type="tns:CertificateTrustList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="HttpsIssuerCertificates" nillable="true" type="tns:CertificateTrustList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TrustedHttpsCertificates" nillable="true" type="tns:CertificateTrustList">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityConfiguration" nillable="true" type="tns:SecurityConfiguration" />
  <xs:complexType name="CertificateIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="StoreType" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StorePath" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StoreName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StoreLocation" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SubjectName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Thumbprint" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RawData" nillable="true" type="xs:base64Binary">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ValidationOptions" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CertificateIdentifier" nillable="true" type="tns:CertificateIdentifier" />
  <xs:complexType name="CertificateTrustList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CertificateStoreIdentifier">
        <xs:sequence>
          <xs:element minOccurs="0" name="TrustedCertificates" nillable="true" type="tns:ListOfCertificateIdentifier">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CertificateTrustList" nillable="true" type="tns:CertificateTrustList" />
  <xs:complexType name="CertificateStoreIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="StoreType" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StorePath" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StoreName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StoreLocation" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ValidationOptions" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CertificateStoreIdentifier" nillable="true" type="tns:CertificateStoreIdentifier" />
  <xs:complexType name="ListOfCertificateIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CertificateIdentifier" nillable="true" type="tns:CertificateIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCertificateIdentifier" nillable="true" type="tns:ListOfCertificateIdentifier" />
  <xs:complexType name="ListOfTransportConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransportConfiguration" nillable="true" type="tns:TransportConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfTransportConfiguration" nillable="true" type="tns:ListOfTransportConfiguration" />
  <xs:complexType name="TransportConfiguration">
    <xs:sequence>
      <xs:element name="UriScheme" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransportConfiguration" nillable="true" type="tns:TransportConfiguration" />
  <xs:complexType name="TransportQuotas">
    <xs:sequence>
      <xs:element minOccurs="0" name="OperationTimeout" type="xs:int" />
      <xs:element minOccurs="0" name="MaxStringLength" type="xs:int" />
      <xs:element minOccurs="0" name="MaxByteStringLength" type="xs:int" />
      <xs:element minOccurs="0" name="MaxArrayLength" type="xs:int" />
      <xs:element minOccurs="0" name="MaxMessageSize" type="xs:int" />
      <xs:element minOccurs="0" name="MaxBufferSize" type="xs:int" />
      <xs:element minOccurs="0" name="ChannelLifetime" type="xs:int" />
      <xs:element minOccurs="0" name="SecurityTokenLifetime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransportQuotas" nillable="true" type="tns:TransportQuotas" />
  <xs:complexType name="ServerConfiguration">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServerBaseConfiguration">
        <xs:sequence>
          <xs:element xmlns:q8="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="UserTokenPolicies" nillable="true" type="q8:ListOfUserTokenPolicy">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DiagnosticsEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="MaxSessionCount" type="xs:int" />
          <xs:element minOccurs="0" name="MinSessionTimeout" type="xs:int" />
          <xs:element minOccurs="0" name="MaxSessionTimeout" type="xs:int" />
          <xs:element minOccurs="0" name="MaxBrowseContinuationPoints" type="xs:int" />
          <xs:element minOccurs="0" name="MaxQueryContinuationPoints" type="xs:int" />
          <xs:element minOccurs="0" name="MaxHistoryContinuationPoints" type="xs:int" />
          <xs:element minOccurs="0" name="MaxRequestAge" type="xs:int" />
          <xs:element minOccurs="0" name="MinPublishingInterval" type="xs:int" />
          <xs:element minOccurs="0" name="MaxPublishingInterval" type="xs:int" />
          <xs:element minOccurs="0" name="PublishingResolution" type="xs:int" />
          <xs:element minOccurs="0" name="MaxSubscriptionLifetime" type="xs:int" />
          <xs:element minOccurs="0" name="MaxMessageQueueSize" type="xs:int" />
          <xs:element minOccurs="0" name="MaxNotificationQueueSize" type="xs:int" />
          <xs:element minOccurs="0" name="MaxNotificationsPerPublish" type="xs:int" />
          <xs:element minOccurs="0" name="MinMetadataSamplingInterval" type="xs:int" />
          <xs:element minOccurs="0" name="AvailableSamplingRates" nillable="true" type="tns:ListOfSamplingRateGroup">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q9="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="RegistrationEndpoint" nillable="true" type="q9:EndpointDescription">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MaxRegistrationInterval" type="xs:int" />
          <xs:element minOccurs="0" name="NodeManagerSaveFile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MinSubscriptionLifetime" type="xs:int" />
          <xs:element minOccurs="0" name="MaxPublishRequestCount" type="xs:int" />
          <xs:element minOccurs="0" name="MaxSubscriptionCount" type="xs:int" />
          <xs:element minOccurs="0" name="MaxEventQueueSize" type="xs:int" />
          <xs:element xmlns:q10="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="ServerProfileArray" nillable="true" type="q10:ListOfString" />
          <xs:element minOccurs="0" name="ShutdownDelay" type="xs:int" />
          <xs:element xmlns:q11="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="ServerCapabilities" nillable="true" type="q11:ListOfString" />
          <xs:element xmlns:q12="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="SupportedPrivateKeyFormats" nillable="true" type="q12:ListOfString" />
          <xs:element minOccurs="0" name="MaxTrustListSize" type="xs:int" />
          <xs:element minOccurs="0" name="MultiCastDnsEnabled" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServerConfiguration" nillable="true" type="tns:ServerConfiguration" />
  <xs:complexType name="ServerBaseConfiguration">
    <xs:sequence>
      <xs:element xmlns:q13="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="BaseAddresses" nillable="true" type="q13:ListOfString" />
      <xs:element xmlns:q14="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="AlternateBaseAddresses" nillable="true" type="q14:ListOfString" />
      <xs:element minOccurs="0" name="SecurityPolicies" nillable="true" type="tns:ListOfServerSecurityPolicy" />
      <xs:element minOccurs="0" name="MinRequestThreadCount" type="xs:int" />
      <xs:element minOccurs="0" name="MaxRequestThreadCount" type="xs:int" />
      <xs:element minOccurs="0" name="MaxQueuedRequestCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerBaseConfiguration" nillable="true" type="tns:ServerBaseConfiguration" />
  <xs:complexType name="ListOfServerSecurityPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerSecurityPolicy" nillable="true" type="tns:ServerSecurityPolicy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfServerSecurityPolicy" nillable="true" type="tns:ListOfServerSecurityPolicy" />
  <xs:complexType name="ServerSecurityPolicy">
    <xs:sequence>
      <xs:element xmlns:q15="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="SecurityMode" type="q15:MessageSecurityMode" />
      <xs:element minOccurs="0" name="SecurityPolicyUri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerSecurityPolicy" nillable="true" type="tns:ServerSecurityPolicy" />
  <xs:complexType name="ListOfSamplingRateGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SamplingRateGroup" nillable="true" type="tns:SamplingRateGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSamplingRateGroup" nillable="true" type="tns:ListOfSamplingRateGroup" />
  <xs:complexType name="SamplingRateGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Start" type="xs:double" />
      <xs:element minOccurs="0" name="Increment" type="xs:double" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SamplingRateGroup" nillable="true" type="tns:SamplingRateGroup" />
  <xs:complexType name="ClientConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultSessionTimeout" type="xs:int" />
      <xs:element xmlns:q16="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="WellKnownDiscoveryUrls" nillable="true" type="q16:ListOfString">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q17="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="DiscoveryServers" nillable="true" type="q17:ListOfEndpointDescription">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="EndpointCacheFilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinSubscriptionLifetime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientConfiguration" nillable="true" type="tns:ClientConfiguration" />
  <xs:complexType name="DiscoveryServerConfiguration">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServerBaseConfiguration">
        <xs:sequence>
          <xs:element xmlns:q18="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="ServerNames" nillable="true" type="q18:ListOfLocalizedText">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DiscoveryServerCacheFile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServerRegistrations" nillable="true" type="tns:ListOfServerRegistration">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DiscoveryServerConfiguration" nillable="true" type="tns:DiscoveryServerConfiguration" />
  <xs:complexType name="ListOfServerRegistration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerRegistration" nillable="true" type="tns:ServerRegistration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfServerRegistration" nillable="true" type="tns:ListOfServerRegistration" />
  <xs:complexType name="ServerRegistration">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationUri" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q19="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="AlternateDiscoveryUrls" nillable="true" type="q19:ListOfString">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerRegistration" nillable="true" type="tns:ServerRegistration" />
  <xs:complexType name="TraceConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="OutputFilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeleteOnLoad" type="xs:boolean" />
      <xs:element minOccurs="0" name="TraceMasks" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TraceConfiguration" nillable="true" type="tns:TraceConfiguration" />
  <xs:complexType name="ListOfApplicationAccessRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationAccessRule" nillable="true" type="tns:ApplicationAccessRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfApplicationAccessRule" nillable="true" type="tns:ListOfApplicationAccessRule" />
  <xs:complexType name="ApplicationAccessRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="RuleType" type="tns:AccessControlType" />
      <xs:element minOccurs="0" name="Right" type="tns:ApplicationAccessRight" />
      <xs:element minOccurs="0" name="IdentityName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationAccessRule" nillable="true" type="tns:ApplicationAccessRule" />
  <xs:simpleType name="AccessControlType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Allow" />
      <xs:enumeration value="Deny" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccessControlType" nillable="true" type="tns:AccessControlType" />
  <xs:simpleType name="ApplicationAccessRight">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Run" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Configure" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ApplicationAccessRight" nillable="true" type="tns:ApplicationAccessRight" />
  <xs:complexType name="ConfiguredEndpointCollection">
    <xs:sequence>
      <xs:element xmlns:q20="http://opcfoundation.org/UA/2008/02/Types.xsd" minOccurs="0" name="KnownHosts" nillable="true" type="q20:ListOfString" />
      <xs:element minOccurs="0" name="Endpoints" nillable="true" type="tns:ArrayOfConfiguredEndpoint" />
      <xs:element minOccurs="0" name="TcpProxyUrl" nillable="true" type="xs:anyURI">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfiguredEndpointCollection" nillable="true" type="tns:ConfiguredEndpointCollection" />
  <xs:complexType name="ArrayOfConfiguredEndpoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfiguredEndpoint" nillable="true" type="tns:ConfiguredEndpoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfiguredEndpoint" nillable="true" type="tns:ArrayOfConfiguredEndpoint" />
</xs:schema>