serviceTest/MQTTClient/Connected Services/brokerService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://opcfoundation.org/UA/2008/02/Types.xsd" elementFormDefault="qualified" targetNamespace="http://opcfoundation.org/UA/2008/02/Types.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://opcfoundation.org/UA/SDK/Configuration.xsd" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Opc.Ua" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Opc.Ua.Client" />
  <xs:complexType name="EndpointDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndpointUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Server" nillable="true" type="tns:ApplicationDescription" />
      <xs:element minOccurs="0" name="ServerCertificate" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SecurityMode" type="tns:MessageSecurityMode" />
      <xs:element minOccurs="0" name="SecurityPolicyUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserIdentityTokens" nillable="true" type="tns:ListOfUserTokenPolicy" />
      <xs:element minOccurs="0" name="TransportProfileUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityLevel" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EndpointDescription" nillable="true" type="tns:EndpointDescription" />
  <xs:complexType name="ApplicationDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="tns:LocalizedText" />
      <xs:element minOccurs="0" name="ApplicationType" type="tns:ApplicationType" />
      <xs:element minOccurs="0" name="GatewayServerUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscoveryProfileUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscoveryUrls" nillable="true" type="tns:ListOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationDescription" nillable="true" type="tns:ApplicationDescription" />
  <xs:complexType name="LocalizedText">
    <xs:sequence>
      <xs:element minOccurs="0" name="Locale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalizedText" nillable="true" type="tns:LocalizedText" />
  <xs:simpleType name="ApplicationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Server_0" />
      <xs:enumeration value="Client_1" />
      <xs:enumeration value="ClientAndServer_2" />
      <xs:enumeration value="DiscoveryServer_3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ApplicationType" nillable="true" type="tns:ApplicationType" />
  <xs:complexType name="ListOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="String" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfString" nillable="true" type="tns:ListOfString" />
  <xs:simpleType name="MessageSecurityMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Invalid_0" />
      <xs:enumeration value="None_1" />
      <xs:enumeration value="Sign_2" />
      <xs:enumeration value="SignAndEncrypt_3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageSecurityMode" nillable="true" type="tns:MessageSecurityMode" />
  <xs:complexType name="ListOfUserTokenPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTokenPolicy" nillable="true" type="tns:UserTokenPolicy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUserTokenPolicy" nillable="true" type="tns:ListOfUserTokenPolicy" />
  <xs:complexType name="UserTokenPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" name="PolicyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenType" type="tns:UserTokenType" />
      <xs:element minOccurs="0" name="IssuedTokenType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssuerEndpointUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityPolicyUri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTokenPolicy" nillable="true" type="tns:UserTokenPolicy" />
  <xs:simpleType name="UserTokenType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Anonymous_0" />
      <xs:enumeration value="UserName_1" />
      <xs:enumeration value="Certificate_2" />
      <xs:enumeration value="IssuedToken_3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserTokenType" nillable="true" type="tns:UserTokenType" />
  <xs:complexType name="EndpointConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="OperationTimeout" type="xs:int" />
      <xs:element minOccurs="0" name="UseBinaryEncoding" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxStringLength" type="xs:int" />
      <xs:element minOccurs="0" name="MaxByteStringLength" type="xs:int" />
      <xs:element minOccurs="0" name="MaxArrayLength" type="xs:int" />
      <xs:element minOccurs="0" name="MaxMessageSize" type="xs:int" />
      <xs:element minOccurs="0" name="MaxBufferSize" type="xs:int" />
      <xs:element minOccurs="0" name="ChannelLifetime" type="xs:int" />
      <xs:element minOccurs="0" name="SecurityTokenLifetime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EndpointConfiguration" nillable="true" type="tns:EndpointConfiguration" />
  <xs:complexType name="UserIdentityToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="PolicyId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserIdentityToken" nillable="true" type="tns:UserIdentityToken" />
  <xs:complexType name="Guid">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="String" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Guid" nillable="true" type="tns:Guid" />
  <xs:complexType name="ListOfXmlElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="XmlElement" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfXmlElement" nillable="true" type="tns:ListOfXmlElement" />
  <xs:complexType name="UserNameIdentityToken">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserIdentityToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="EncryptionAlgorithm" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserNameIdentityToken" nillable="true" type="tns:UserNameIdentityToken" />
  <xs:complexType name="X509IdentityToken">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserIdentityToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="CertificateData" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="X509IdentityToken" nillable="true" type="tns:X509IdentityToken" />
  <xs:complexType name="IssuedIdentityToken">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserIdentityToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="TokenData" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="EncryptionAlgorithm" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IssuedIdentityToken" nillable="true" type="tns:IssuedIdentityToken" />
  <xs:complexType name="ListOfEndpointDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EndpointDescription" nillable="true" type="tns:EndpointDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfEndpointDescription" nillable="true" type="tns:ListOfEndpointDescription" />
  <xs:complexType name="ListOfLocalizedText">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalizedText" nillable="true" type="tns:LocalizedText" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfLocalizedText" nillable="true" type="tns:ListOfLocalizedText" />
  <xs:complexType name="Session">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Opc.Ua" base="q1:SessionClient">
        <xs:sequence>
          <xs:element xmlns:q2="http://opcfoundation.org/UA/SDK/Configuration.xsd" minOccurs="0" name="ConfiguredEndpoint" nillable="true" type="q2:ConfiguredEndpoint" />
          <xs:element minOccurs="0" name="DefaultSubscription" nillable="true" type="tns:Subscription" />
          <xs:element minOccurs="0" name="DefunctRequestCount" type="xs:int" />
          <xs:element minOccurs="0" name="Factory" nillable="true" type="tns:EncodeableFactory" />
          <xs:element minOccurs="0" name="FilterContext" nillable="true" type="q1:FilterContext" />
          <xs:element minOccurs="0" name="GoodPublishRequestCount" type="xs:int" />
          <xs:element minOccurs="0" name="Handle" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="KeepAliveInterval" type="xs:int" />
          <xs:element minOccurs="0" name="KeepAliveStopped" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastKeepAliveTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NamespaceUris" nillable="true" type="tns:NamespaceTable" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Opc.Ua.Client" minOccurs="0" name="NodeCache" nillable="true" type="q3:NodeCache" />
          <xs:element minOccurs="0" name="OutstandingRequestCount" type="xs:int" />
          <xs:element minOccurs="0" name="PreferredLocales" nillable="true" type="tns:ListOfString" />
          <xs:element minOccurs="0" name="ServerUris" nillable="true" type="tns:StringTable" />
          <xs:element minOccurs="0" name="SessionName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SessionTimeout" type="xs:double" />
          <xs:element minOccurs="0" name="SubscriptionCount" type="xs:int" />
          <xs:element minOccurs="0" name="Subscriptions" nillable="true" type="tns:ArrayOfSubscription" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="EncodeableFactory">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EncodeableFactory" nillable="true" type="tns:EncodeableFactory" />
  <xs:complexType name="NamespaceTable">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StringTable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NamespaceTable" nillable="true" type="tns:NamespaceTable" />
  <xs:complexType name="StringTable">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="StringTable" nillable="true" type="tns:StringTable" />
  <xs:complexType name="NodeId">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NodeId" nillable="true" type="tns:NodeId" />
  <xs:complexType name="Subscription">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishingInterval" type="xs:int" />
      <xs:element minOccurs="0" name="KeepAliveCount" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="LifetimeCount" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="MaxNotificationsPerPublish" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="PublishingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Priority" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TimestampsToReturn" type="tns:TimestampsToReturn" />
      <xs:element minOccurs="0" name="MaxMessageCount" type="xs:int" />
      <xs:element minOccurs="0" name="DefaultItem" nillable="true" type="tns:MonitoredItem" />
      <xs:element minOccurs="0" name="MinLifetimeInterval" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="MonitoredItems" nillable="true" type="tns:ArrayOfMonitoredItem" />
      <xs:element minOccurs="0" name="DisableMonitoredItemCache" type="xs:boolean" />
      <xs:element minOccurs="0" name="CurrentPublishedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PreviousPublishedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SubscriptionPublished" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subscription" nillable="true" type="tns:Subscription" />
  <xs:simpleType name="TimestampsToReturn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Source_0" />
      <xs:enumeration value="Server_1" />
      <xs:enumeration value="Both_2" />
      <xs:enumeration value="Neither_3" />
      <xs:enumeration value="Invalid_4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TimestampsToReturn" nillable="true" type="tns:TimestampsToReturn" />
  <xs:complexType name="MonitoredItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartNodeId" nillable="true" type="tns:NodeId" />
      <xs:element minOccurs="0" name="RelativePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeClass" type="tns:NodeClass" />
      <xs:element minOccurs="0" name="AttributeId" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="IndexRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Encoding" nillable="true" type="tns:QualifiedName" />
      <xs:element minOccurs="0" name="MonitoringMode" type="tns:MonitoringMode" />
      <xs:element minOccurs="0" name="SamplingInterval" type="xs:int" />
      <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:MonitoringFilter" />
      <xs:element minOccurs="0" name="QueueSize" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="DiscardOldest" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoredItem" nillable="true" type="tns:MonitoredItem" />
  <xs:simpleType name="NodeClass">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unspecified_0" />
      <xs:enumeration value="Object_1" />
      <xs:enumeration value="Variable_2" />
      <xs:enumeration value="Method_4">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ObjectType_8">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VariableType_16">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ReferenceType_32">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DataType_64">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="View_128">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">128</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NodeClass" nillable="true" type="tns:NodeClass" />
  <xs:complexType name="QualifiedName">
    <xs:sequence>
      <xs:element minOccurs="0" name="NamespaceIndex" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QualifiedName" nillable="true" type="tns:QualifiedName" />
  <xs:simpleType name="MonitoringMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disabled_0" />
      <xs:enumeration value="Sampling_1" />
      <xs:enumeration value="Reporting_2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MonitoringMode" nillable="true" type="tns:MonitoringMode" />
  <xs:complexType name="MonitoringFilter">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MonitoringFilter" nillable="true" type="tns:MonitoringFilter" />
  <xs:complexType name="DataChangeFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MonitoringFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="Trigger" type="tns:DataChangeTrigger" />
          <xs:element minOccurs="0" name="DeadbandType" type="xs:unsignedInt" />
          <xs:element minOccurs="0" name="DeadbandValue" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataChangeFilter" nillable="true" type="tns:DataChangeFilter" />
  <xs:simpleType name="DataChangeTrigger">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Status_0" />
      <xs:enumeration value="StatusValue_1" />
      <xs:enumeration value="StatusValueTimestamp_2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DataChangeTrigger" nillable="true" type="tns:DataChangeTrigger" />
  <xs:complexType name="EventFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MonitoringFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="SelectClauses" nillable="true" type="tns:ListOfSimpleAttributeOperand" />
          <xs:element minOccurs="0" name="WhereClause" nillable="true" type="tns:ContentFilter" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EventFilter" nillable="true" type="tns:EventFilter" />
  <xs:complexType name="ListOfSimpleAttributeOperand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleAttributeOperand" nillable="true" type="tns:SimpleAttributeOperand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSimpleAttributeOperand" nillable="true" type="tns:ListOfSimpleAttributeOperand" />
  <xs:complexType name="SimpleAttributeOperand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FilterOperand">
        <xs:sequence>
          <xs:element minOccurs="0" name="TypeDefinitionId" nillable="true" type="tns:NodeId" />
          <xs:element minOccurs="0" name="BrowsePath" nillable="true" type="tns:ListOfQualifiedName" />
          <xs:element minOccurs="0" name="AttributeId" type="xs:unsignedInt" />
          <xs:element minOccurs="0" name="IndexRange" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SimpleAttributeOperand" nillable="true" type="tns:SimpleAttributeOperand" />
  <xs:complexType name="FilterOperand">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="FilterOperand" nillable="true" type="tns:FilterOperand" />
  <xs:complexType name="ListOfQualifiedName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QualifiedName" nillable="true" type="tns:QualifiedName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfQualifiedName" nillable="true" type="tns:ListOfQualifiedName" />
  <xs:complexType name="ContentFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Elements" nillable="true" type="tns:ListOfContentFilterElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentFilter" nillable="true" type="tns:ContentFilter" />
  <xs:complexType name="ListOfContentFilterElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentFilterElement" nillable="true" type="tns:ContentFilterElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfContentFilterElement" nillable="true" type="tns:ListOfContentFilterElement" />
  <xs:complexType name="ContentFilterElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilterOperator" type="tns:FilterOperator" />
      <xs:element minOccurs="0" name="FilterOperands" nillable="true" type="tns:ListOfExtensionObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentFilterElement" nillable="true" type="tns:ContentFilterElement" />
  <xs:simpleType name="FilterOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Equals_0" />
      <xs:enumeration value="IsNull_1" />
      <xs:enumeration value="GreaterThan_2" />
      <xs:enumeration value="LessThan_3" />
      <xs:enumeration value="GreaterThanOrEqual_4" />
      <xs:enumeration value="LessThanOrEqual_5" />
      <xs:enumeration value="Like_6" />
      <xs:enumeration value="Not_7" />
      <xs:enumeration value="Between_8" />
      <xs:enumeration value="InList_9" />
      <xs:enumeration value="And_10" />
      <xs:enumeration value="Or_11" />
      <xs:enumeration value="Cast_12" />
      <xs:enumeration value="InView_13" />
      <xs:enumeration value="OfType_14" />
      <xs:enumeration value="RelatedTo_15" />
      <xs:enumeration value="BitwiseAnd_16" />
      <xs:enumeration value="BitwiseOr_17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FilterOperator" nillable="true" type="tns:FilterOperator" />
  <xs:complexType name="ListOfExtensionObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtensionObject" nillable="true" type="tns:ExtensionObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfExtensionObject" nillable="true" type="tns:ListOfExtensionObject" />
  <xs:complexType name="ExtensionObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="TypeId" nillable="true" type="tns:NodeId" />
      <xs:element minOccurs="0" name="Body" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtensionObject" nillable="true" type="tns:ExtensionObject" />
  <xs:complexType name="AggregateFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MonitoringFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AggregateType" nillable="true" type="tns:NodeId" />
          <xs:element minOccurs="0" name="ProcessingInterval" type="xs:double" />
          <xs:element minOccurs="0" name="AggregateConfiguration" nillable="true" type="tns:AggregateConfiguration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AggregateFilter" nillable="true" type="tns:AggregateFilter" />
  <xs:complexType name="AggregateConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="UseServerCapabilitiesDefaults" type="xs:boolean" />
      <xs:element minOccurs="0" name="TreatUncertainAsBad" type="xs:boolean" />
      <xs:element minOccurs="0" name="PercentDataBad" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="PercentDataGood" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UseSlopedExtrapolation" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AggregateConfiguration" nillable="true" type="tns:AggregateConfiguration" />
  <xs:complexType name="ArrayOfMonitoredItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonitoredItem" nillable="true" type="tns:MonitoredItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonitoredItem" nillable="true" type="tns:ArrayOfMonitoredItem" />
  <xs:complexType name="ArrayOfSubscription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subscription" nillable="true" type="tns:Subscription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscription" nillable="true" type="tns:ArrayOfSubscription" />
  <xs:complexType name="Browser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Session" nillable="true" type="tns:Session" />
      <xs:element minOccurs="0" name="View" nillable="true" type="tns:ViewDescription" />
      <xs:element minOccurs="0" name="MaxReferencesReturned" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="BrowseDirection" type="tns:BrowseDirection" />
      <xs:element minOccurs="0" name="ReferenceTypeId" nillable="true" type="tns:NodeId" />
      <xs:element minOccurs="0" name="IncludeSubtypes" type="xs:boolean" />
      <xs:element minOccurs="0" name="NodeClassMask" type="xs:int" />
      <xs:element minOccurs="0" name="ResultMask" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Browser" nillable="true" type="tns:Browser" />
  <xs:complexType name="ViewDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="ViewId" nillable="true" type="tns:NodeId" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ViewVersion" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewDescription" nillable="true" type="tns:ViewDescription" />
  <xs:simpleType name="BrowseDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Forward_0" />
      <xs:enumeration value="Inverse_1" />
      <xs:enumeration value="Both_2" />
      <xs:enumeration value="Invalid_3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BrowseDirection" nillable="true" type="tns:BrowseDirection" />
</xs:schema>