serviceTest/MQTTClient/Connected Services/brokerService/item91.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Opc.Ua" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Opc.Ua" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SessionClient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ClientBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SessionClient" nillable="true" type="tns:SessionClient" />
  <xs:complexType name="ClientBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ClientBase" nillable="true" type="tns:ClientBase" />
  <xs:complexType name="EncodeableFactory">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EncodeableFactory" nillable="true" type="tns:EncodeableFactory" />
  <xs:complexType name="FilterContext">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="FilterContext" nillable="true" type="tns:FilterContext" />
  <xs:complexType name="NamespaceTable">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StringTable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NamespaceTable" nillable="true" type="tns:NamespaceTable" />
  <xs:complexType name="StringTable">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="StringTable" nillable="true" type="tns:StringTable" />
</xs:schema>